Haley/Collada*
Haley/dataset
Haley/Lego*
Haley/isolated_images
Haley/validation.txt
Haley/Xset.npy
Haley/Yset.npy
Haley/x_train_subset.npy
Haley/y_train_subset.npy
Haley/embeddings.npy
Haley/embedding_labels.npy